<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MakoIoT.Device.Platform.Interface" version="1.0.5.23338" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Configuration" version="1.0.32.19851" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Configuration.Metadata" version="1.0.35.8833" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.ConfigurationManager" version="1.0.51.45504" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.FileStorage" version="1.0.35.13440" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Interface" version="1.0.40.57355" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Mediator" version="1.0.32.35604" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Server" version="1.0.39.37862" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.WiFi" version="1.0.36.35709" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.WiFi.AP" version="1.0.38.49935" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Utilities.Invoker" version="1.0.27.50780" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Utilities.String" version="1.0.33.52014" targetFramework="netnano1.0" />
  <package id="nanoFramework.CoreLibrary" version="1.15.5" targetFramework="netnano1.0" />
  <package id="nanoFramework.DependencyInjection" version="1.1.3" targetFramework="netnano1.0" />
  <package id="nanoFramework.Iot.Device.DhcpServer" version="1.2.407" targetFramework="netnano1.0" />
  <package id="nanoFramework.Json" version="2.2.103" targetFramework="netnano1.0" />
  <package id="nanoFramework.Logging" version="1.1.74" targetFramework="netnano1.0" />
  <package id="nanoFramework.ResourceManager" version="1.2.19" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Events" version="1.11.15" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Collections" version="1.5.31" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Wifi" version="1.5.71" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.IO.FileSystem" version="1.1.30" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.IO.Streams" version="1.1.52" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Net" version="1.10.64" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Net.Http" version="1.5.113" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Text" version="1.2.54" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Threading" version="1.1.32" targetFramework="netnano1.0" />
  <package id="Nerdbank.GitVersioning" version="3.6.133" targetFramework="netnano1.0" developmentDependency="true" />
</packages>